In [2]:
import pandas as pd
dfPenguins = pd.read_csv("C:/Users/a871169/OneDrive - Atos/Documents/Django_auto_ml/ia4all/authentification/penguins_lter.csv")

In [3]:
dfPenguins.head(5)

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [12]:
data = dfPenguins
    # Séparer les fonctionnalités et la variable cible
data = data[data.describe().columns].dropna().values
#X = data.drop('Species',axis=0)
#X = StandardScaler().fit_transform(X)
#y = data['Species'].values

In [13]:
data

array([[ 2.000000e+00,  3.950000e+01,  1.740000e+01, ...,  3.800000e+03,
         8.949560e+00, -2.469454e+01],
       [ 3.000000e+00,  4.030000e+01,  1.800000e+01, ...,  3.250000e+03,
         8.368210e+00, -2.533302e+01],
       [ 5.000000e+00,  3.670000e+01,  1.930000e+01, ...,  3.450000e+03,
         8.766510e+00, -2.532426e+01],
       ...,
       [ 1.220000e+02,  5.040000e+01,  1.570000e+01, ...,  5.750000e+03,
         8.301660e+00, -2.604117e+01],
       [ 1.230000e+02,  4.520000e+01,  1.480000e+01, ...,  5.200000e+03,
         8.242460e+00, -2.611969e+01],
       [ 1.240000e+02,  4.990000e+01,  1.610000e+01, ...,  5.400000e+03,
         8.363900e+00, -2.615531e+01]])